dev/log
dev/stderr
dev/stdin
dev/stdout
dev/urandom
etc/host.conf
etc/resolv.conf
root/.history
var/log/auth.log
var/log/cron
var/log/debug.log
var/log/devd.log
var/log/lpd-errs
var/log/maillog
var/log/messages
var/log/ppp.log
var/log/security
var/log/utx.lastlogin
var/log/utx.log
var/log/xferlog
var/msgs/
var/run/
var/spool/
